.header {
  margin-bottom: 0px;
  padding: 10px;
  color: white;
  background-color: var(--dark-green);
  display: flex;
  justify-content: space-between;
}
.header a {
  text-decoration: none;
}
.header-logo {
  color: white;
}